@media (max-width: 1740px) {
  .container {
	max-width: 1685px;
  }
  .header__container {
	padding: 14px 62px;
  }

  .about__item {
	padding: 60px 70px;
  }

  .header .nav__list {
	margin-right: 70px;
  }
}

@media (max-width: 1540px) {
  .container {
	max-width: 1300px;

  }

  .about__card {
	width: 100%;
	height: 640px;
	margin: 0 0 var(--gap);
  }

  .card__content {
	width: 100%;
	padding: 51px;
  }

  .card__dsc {
	margin-right: auto;
  }

  .about__item {
	padding: 65px 115px;
  }

  .about {
	margin-bottom: 80px;
  }

  .about__dsc {
	margin-bottom: 60px;
  }

  .about__wrapper {
	width: 100%;
	flex-direction: column;
  }

  .footer__center {
	margin-right: 20px;
  }

  .header__container {
	padding: 14px 0;
  }

  .footer__dsc {
	font-size: 12px;
  }

}

@media (max-width: 1225px) {
  .container {
	max-width: 924px;
  }

  .header {
	margin-bottom: 39px;
  }

  .header__nav {
	display: none;
  }

  .header__container {
	padding: 27px 0;
	justify-content: space-between;
  }

  .header__logo {
	margin: 0;
	width: 150px;
  }

  .burger {
	position: relative;
	display: block;
	background-color: transparent;
	width: 30px;
	height: 23px;
	border: none;
  }

  .burger__line {
	display: block;
	position: absolute;
	color: black;
	background-color: currentColor;
	border: 1px solid currentColor;
	width: 30px;
	height: 3px;
	left: 50%;
	transform: translateX(-50%);
  }

  .burger__line:first-child {
	top: -1px;
  }

  .burger__line:nth-child(2) {
	top: 45%;
	transform: translate(-50%, -50%);
  }

  .burger__line {
	bottom: 1px;
  }

  .hero__wrapper {
	border-radius: 32px;
	height: 668px;
	padding: 160px 77px;
  }

  .hero__title {
	font-weight: 800;
	font-size: 60px;
	line-height: 73px;
	margin-bottom: 16px;
  }

  .hero__subtitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
  }

  .hero__text {
	margin-bottom: 60px;
  }

  .hero {
	margin-bottom: 35px;
  }





  .how__list {
	margin-bottom: 50px;
  }

  .how__text {
	margin-bottom: 26px;
  }

  .how__right {
	width: 96%;
	flex-direction: column;
  }

  .how__image {

  }

  .how {
	margin-bottom: 80px;
  }

  .faq__point {
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
  }

  .faq {
	margin-bottom: 80px;
  }

  .footer__right {
	display: none;
  }

  .footer__container {
	padding: 45px 0;
  }

  .form {
	padding: 0 15px;
  }

  .form__input,
  .form__textarea {

	min-width: 540px;
  }
}

@media (max-width: 1024px) {
  .container {
	max-width: 668px;
  }

  .header {
	margin-bottom: 22px;
  }

  .hero__title {
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
  }

  .hero__subtitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px
  }

  .hero__wrapper {
	padding: 160px 40px;
  }

  .hero {
	margin-bottom: 31px;
  }

  .about__dsc {
	margin-bottom: 54px;
  }

  .about__card {
	min-width: 100px;
	height: 196px;
  }

  .card__content {
	padding: 35px 40px;
  }

  .card__dsc {
	max-width: 366px;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
  }

  .about__item {
	background-size: 114px 99px;
	padding: 35px 0;
	height: auto;

  }

  .item__content {
	padding-left: 169px;
  }

  .about {
	margin-bottom: 108px;
  }

  .how__list {
	justify-content: space-between;
  }

  .list__item:not(:last-child) {
	margin-right: 0;
  }

  .how__container {
	flex-direction: column-reverse;
  }

  .how__right {
	width: 100%;
	align-items: normal;
	margin-bottom: 38px;
  }

  .how__image {

	height: 284px;
  }

  .how__subtitle {
	margin-bottom: 10px;
  }

  .how {
	margin-bottom: 18px;
  }

  .faq {
	margin-bottom: 43px;
  }

  .footer__container {
	flex-direction: column-reverse;
  }

  .footer__nav {
	display: none;
  }

  .footer__left {
	align-self: flex-start;
  }

  .footer__center {
	margin-bottom: 48px;
	padding-left: 0;
  }
}

@media (max-width: 768px) {
  .container {
	max-width: calc(100% - 10%);
	padding-left: 15px;
	padding-right: 15px;
  }

  .item__title {
	font-size: 18px;
  }

  .item__dsc {
	font-size: 14px;
  }

  
}

@media (max-width: 576px) {
  .container {
	max-width: 90%;
  }

  .hero__wrapper {
	height: auto;
	justify-content: center;
	background-position: center;
	align-items: center;
	text-align: center;
	padding: 60px 21px;
  }

  .hero__title {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
  }

  .hero__subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
  }

  .hero__btn {
	padding: 13px 28px;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
  }

  .about__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
  }

  .about__dsc {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
  }

  .about__card {
	background: none;
	height: auto;
	display: block;
	min-height: unset;
  }

  .card__content {
	display: block;
	color: black;
	border: none;
	background: none;

	padding: 0;
  }

  .card__dsc {
	color: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 12px;
	background-image: url("/images/about__card.jpg");
	background-position: top center;
	background-size: 290px 200px;
	background-repeat: no-repeat;
	padding-top: 210px;
  }

  .about__btn {
	color: inherit;
  }

  .about__dsc {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 12px;
  }

  .about__item {
	height: auto;
	border: none;
	background-position: left top;
	padding: 0;
	padding-top: 110px;
  }

  .about__item:not(:last-child) {
	margin-bottom: 0;
  }

  .item__content {
	padding: 0;
	margin-bottom: 50px;
  }

  .item__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
  }

  .item__dsc {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
  }

  .about__btn {
	padding: 12px 44px;
  }

  .about {
	margin-bottom: 31px;
  }

  .faq__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
  }

  .faq__point {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;

  }

  .points__wrapper {
	padding: 30px 15px;
  }

  .form__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
  }

  .form__input,
  .form__textarea {
	min-width: unset;
  }

  .form__btn {
	padding: 12px 28px;
  }

  .footer__left {
	align-self: center;
  }

  .social {
	justify-content: center;
  }

  .how__image {
	height: 160px;
  }

  .how__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
  }

  .list__step {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
  }

  .how__subtitle {
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
  }

  .how__dsc {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
  }


  .how__btn-deal {
	padding: 12px 32px;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
  }

  .how__btn-about {
	padding: 12px 30px;
	margin-right: 0;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
  }

  .footer__center {
	width: 100%;
	align-self: center;
	margin-right: 0;
  }


}