/*
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media (max-width: 1880px ) and (min-width: 1280px) {
  .header {
	padding: 14px 30px;
  }

  .header__nav__item:last-child {
	margin-right: 200px;
  }

  .hero {
	padding: 0 50px;
  }
  .about {
	padding: 0 50px;
  }
  .work {
	padding: 0 50px;
  }
  .questions {
	padding: 0 50px;
  }

  .work__dsc {
	max-width: 570px;
  }

  .about__card-left {
	height: auto;
	background-position: 50% 100%;
  }

  .about__card-detailed {
	padding: 40px 20px;
  }

  .about__card-detailed__dsc {
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
  }

  .footer__center {
	margin-right: 30px;
  }




}

@media (max-width: 1279px) {
  .container {
	max-width: 924px;
  }

  .burger {
	display: block;
  }

  .burger--active .burger__line:nth-child(2) {
	opacity: 0;
  }

  .burger--active .burger__line:first-child {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 10px;
  }

  .burger--active .burger__line:last-child {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 10px;
  }

  .burger__menu--show {
	display: block;
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }

  .burger__nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
  }

  .header__nav__item:not(:last-child) {
	margin-right: 0;
	margin-bottom: 60px;
  }

  .header__nav__list {
	display: none;
  }

  .header {
	padding: 26px 50px;
	margin-bottom: 40px;
  }

  .header__container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
  }

  .header__logo {
	width: 150px;
	height: 48px;
	margin-right: 0;
  }

  .hero {
	margin-bottom: 38px;
  }

  .hero__content {
	padding: 160px 77px;
	top: 50%;
  }

  .swiperHero {
	height: 668px;
  }

  .swiperHero {
	height: 662px;
  }

  .swiperHero .swiper-pagination {
	bottom: 20px;
  }

  .swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	background-color: #CACACA;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
  }

  .hero__title {
	font-size: 60px;
	line-height: 73px;
	margin-bottom: 16px;
  }

  .hero__subtitle {
	font-size: 20px;
	line-height: 24px;
  }

  .hero__text {
	max-width: 770px;
	margin-bottom: 60px;
  }

  .about__cards-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
  }

  .about__card-left {
	height: 640px;
	margin-right: 0;
	margin-bottom: 28px;
	-ms-flex-preferred-size: unset;
	flex-basis: unset;
  }

  .about__text {
	margin-bottom: 61px;
  }

  .about__card-detailed {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 50px;
  }

  .about__card-info {
	padding: 65px 77px;
  }

  .about {
	margin-bottom: 77px;
  }

  .work__left {
	margin-right: 50px;
	max-width: 437px;
  }

  .work__right {
	background-size: cover;
  }

  .work__slide {
	max-width: 437px;
	height: 689px;
  }

  .work__nav {
	margin-bottom: 50px;
  }

  .work__dsc-text {
	margin-bottom: 25px;
  }

  .work {
	margin-bottom: 80px;
  }

  .questions {
	margin-bottom: 107px;
  }

  .questions__point {
	margin-bottom: -1px;
  }

  .questions__point:nth-child(2n) {
	padding: 30px 0;
  }



  .questions__point-dsc {
	font-size: 20px;
	line-height: 32px;
	max-width: 756px;
  }

  .footer__right {
	display: none;
  }

  .footer {
	padding: 26px;
  }

  .footer__left {
	width: 403px;
  }

  .footer__center__title {
	margin-bottom: 26px;
  }

  .form__btn {
	padding: 19px 42px;
  }

  .footer__logo {
	margin-bottom: 16px;
  }
}

@media (max-width: 1023px) {
  .container {
	max-width: 668px;
  }

  .header {
	padding: 12px 50px;
	margin-bottom: 38px;
  }

  .search__menu {
	right: -100px;
	top: 70px;
  }

  .swiperHero {
	height: 662px;
  }

  .swiperHero .swiper-pagination {
	bottom: 25px;
  }

  .swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	background-color: #CACACA;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
  }

  .hero__content {
	padding: 160px 40px;
  }

  .hero__text {
	max-width: none;
  }

  .hero__title {
	font-size: 50px;
	line-height: 61px;
  }

  .hero__subtitle {
	font-size: 18px;
	line-height: 22px;
  }

  .about__card-left {
	background-position: 52% 100%;
	margin-bottom: 41px;
  }

  .about__card-detailed {
	padding: 23px 40px;
  }

  .about__card-detailed__dsc {
	max-width: 366px;

  }

  .about__text {
	margin-bottom: 53px;
  }

  .about__card-info {
	padding: 35px 39px;
  }

  .about__card-info__img {
	width: 114px;
	margin-right: 16px;
  }

  .work__nav__item:not(:last-child) {
	margin-right: 155px;
  }

  .work__sides-wrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
  }

  .work__right {
	height: 284px;
	margin-bottom: 38px;
  }

  .work__left {
	max-width: none;
	margin-right: 0;
  }

  .work__dsc-text {
	max-width: none;
  }

  .text-translate {
	display: none;
  }

  .work {
	margin-bottom: 50px;
  }

  .question__point-img {
	padding: 1px 11px;
  }

  .questions__point-dsc {
	max-width: 570px;
  }

  .questions__point:not(:first-child) {
	padding: 30px 0;
  }

  .questions {
	margin-bottom: 137px;
  }

  .footer__nav {
	display: none;
  }

  .footer__container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
  }

  .footer__center {
	-ms-flex-preferred-size: 540px;
	flex-basis: 540px;
  }

  .footer__form {
	width: 541px;
  }

  .footer__center__title {
	margin-bottom: 24px;
  }

  .form__btn {
	padding: 19px 42px;
  }

  .footer__form {
	max-width: 540px;
  }

}

@media (max-width: 767px) {
  .container {
	max-width: 290px;
  }

  .header {
	padding: 18px 15px;
	margin-bottom: 28px;
  }

  .search__menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 310px;
	height: 69px;
	padding: 21px 15px;
	top: 0;
	right: 0;
	left: -10px;
  }

  .search__bar {
	width: 220px;
  }

  @-webkit-keyframes searchBarProgress {
	0% {
	  opacity: 0;
	  width: 20px;
	}


	100% {
	  opacity: 1;
	  width: 220px;
	}

  }

  @keyframes searchBarProgress {
	0% {
	  opacity: 0;
	  width: 20px;
	}


	100% {
	  opacity: 1;
	  width: 220px;
	}

  }

  .header__container {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
  }

  .burger {
	margin-right: 0;
  }

  .header__logo {
	height: 35px;
	margin-right: 0;
  }

  .swiperHero {
	height: 308px;
  }

  .hero {
	margin-bottom: 60px;
  }

  .hero__container {
	text-align: center;
  }

  .hero__content {
	padding: 60px 22px;
  }

  .swiperHero .swiper-pagination {
	bottom: 10px;
  }

  .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: #CACACA;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
  }

  .hero__text {
	margin-bottom: 33px;
  }

  .hero__title {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 6px;
  }

  .hero__btn {
	font-size: 12px;
	line-height: 15px;
	padding: 13px 28px;
  }

  .hero__subtitle {
	font-size: 12px;
	line-height: 15px;
  }

  .about {
	margin-bottom: 61px;
  }

  .about__text {
	margin-bottom: 13px;
  }

  .about__title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 21px;
  }

  .about__dsc {
	max-width: 289px;
	font-size: 14px;
	line-height: 28px;
  }

  .about__card-left {
	height: 200px;
	margin-bottom: 10px;
  }

  .about__card-detailed__btn {
	padding: 12px 42px;
  }




  .about__card-info__dsc {
	font-size: 14px;
	line-height: 28px;
  }

  .about__card-info__img {
	width: 64px;
	height: 57px;
	margin-right: 0;
	text-align: start;
  }

  .work__title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 20px;
  }

  .work__nav {
	margin-bottom: 16px;
  }

  .work__right {
	margin-bottom: 16px;
  }



  .work__nav__item:not(:last-child) {
	margin-right: 35px;
  }

  .work__right {
	height: 160px;
  }

  .work {
	margin-bottom: 60px;
  }

  .questions__title {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 15px;
  }

  .questions__point {
	padding: 30px 0;
  }

  .question__point-img {
	width: 30px;
	height: 30px;
  }



  .questions {
	margin-bottom: 63px;
  }

  .footer__center__title {
	text-align: start;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 19px;
  }

  .footer__container {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  }

  .footer__center {
	width: 100%;
	-ms-flex-preferred-size: 465px;
	flex-basis: 465px;
  }

  .footer__form {
	width: 100%;

  }

  .form__input {
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
  }

  .form__textarea {
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 26px;
  }

  .form__btn {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	padding: 12px 28px;
  }

  .footer__left {
	width: 100%;
	text-align: center;
  }

  .footer__logo {
	height: 42px;
	margin-bottom: 16px;
  }

  .footer__social-link:not(:last-child) {
	margin-right: 16px;
  }

  .footer {
	padding: 33px 14px;
  }

  .footer__social {
	height: 40px;
	width: 40px;
  }

  .hero__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  }

  .hero__text {
	text-align: center;
  }

  .about__card-detailed {
	display: none;
  }

  .about__card-detailed-media {
	display: block;
	color: black;
	margin-bottom: 30px;
  }

  .about__card-info__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 4px;
  }

  .about__card-detailed__dsc {
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 8px;
  }

  .about__card-detailed__btn {
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;

	text-align: center;

	color: #FF9900;
  }

  .about__card-info {
	border: none;
	display: block;
	padding: 0;
  }

  .work__nav__item {
	font-size: 14px;
	line-height: 17px;
  }

  .work__dsc__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
  }

  .work__dsc {
	font-size: 14px;
	line-height: 28px;
  }

  .work__dsc-text {
	margin-bottom: 24px;
  }

  .work__btn {
	font-size: 12px;
	line-height: 15px;
	margin-right: 10px;
	padding: 12px 44px;
  }

  .work__btn-contract {
	padding: 12px 32px;
  }

  .work__btn-contract {
	font-size: 12px;
	line-height: 15px;
  }

  .questions__point-dsc {
	max-width: 245px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
  }

  .question__point-img {
	padding: 0 7px;
  }

  .footer__left {
	width: auto;
  }

}
